<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852272247058-218ct8penv0pfpaodmoojjrcu2vhakl3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852272247058-218ct8penv0pfpaodmoojjrcu2vhakl3</string>
	<key>API_KEY</key>
	<string>AIzaSyD9en7SUW5m9R6fTJ4O4gvUrVbUUbkSmjE</string>
	<key>GCM_SENDER_ID</key>
	<string>852272247058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>1904.pupsup</string>
	<key>PROJECT_ID</key>
	<string>pups-up</string>
	<key>STORAGE_BUCKET</key>
	<string>pups-up.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852272247058:ios:34d418685c2ba066</string>
	<key>DATABASE_URL</key>
	<string>https://pups-up.firebaseio.com</string>
</dict>
</plist>